* {
    box-sizing: border-box;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr; /* inputs | output */
    gap: 10px;
    width: 100%;
    height: 100vh;
    padding: 10px;
}

/* INPUT SECTION */
.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputs textarea {
    width: 100%;
    height: 190px;
    resize: none;
    font-size: 14px;
}

/* OUTPUT SECTION */
.outputs iframe {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

button {
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    margin-left: 300px;
    background-color: rgb(132, 224, 132);
    border-radius: 5px;
    cursor: pointer;
}
