* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    overflow: hidden;
}


.parent {
    display: grid;
    grid-template-columns: 1fr 1fr; /* inputs | output */
    gap: 10px;
    width: 100%;
    height: 1000vh;
    padding: 10px;
}

/* INPUT SECTION */
.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* OUTPUT SECTION */
.outputs iframe {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

button {
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    margin-left: 300px;
    background-color: rgb(132, 224, 132);
    border-radius: 5px;
    cursor: pointer;
}

.editor-block label {
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
}

.editor-block textarea {
    width: 100%;
    height: 180px;
    font-family: monospace;
}


/* index file styles */
.landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.landing > h1 {
    font-size: 50px;
    color: wheat;
}

.landing > p {
    font-size: 30px;
    color: white;
}
#btn {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 2px;
    background-color: lightgrey;
    
}
#btn:hover {
    color: white;
    background-color: black;
}